<h1>Saluton Mondo</h1>

<h2>Monsters</h2>
<ul class="monsters-index-list">
  {{#each model as |monster|}}
  <li class="monster {{unless monster.active 'dark'}}"><strong>{{monster.name}}</strong> is level {{monster.level}}. <button {{action 'toggleActive' monster}}>Toggle Active</button></li>
  {{/each}}
</ul>