<h1>Saluton Mondo</h1>

<h2>Monsters</h2>
<ul class="monsters-index-list">
  {{#each model as |monster|}}
  <li class="monster"><strong>{{monster.name}}</strong> is level {{monster.level}}.</li>
  {{/each}}
</ul>